.conteiner-main {
  display: grid;
  grid-template-columns: 600px 600px;
  align-items: center;
  justify-content: center;
}
.conteudo01 h1 {
  font-size: 5.3rem;
  line-height: 80px;
  margin-bottom: 30px;
  font-weight: 800;
}
.conteudo01 p {
  max-width: 40ch;
  font-size: 1.3rem;
}
.amc {
  background: #cf802c;
  background: linear-gradient(to right, #cf802c 0%, #8a3405 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
@media (max-width: 1250px) {
  .conteiner-main {
    margin-top: -120px;
    grid-template-columns: 600px;
    gap: 0px;
  }
}
@media (max-width: 825px) {
  .conteiner-main {
    margin-top: -120px;
  }
  body {
    overflow-x: hidden;
  }
}
@media (min-width: 526px) and (max-width: 630px) {
  .conteiner-main {
    width: 98%;
    padding-left: 0px;
    gap: 60px;
    margin-top: -200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .conteudo01 h1 {
    font-size: 3.5rem;
    max-width: 10ch;
  }
  .conteudo01 p {
    margin-left: -60px;
    font-size: 1.1rem;
  }
  .conteudo02 img {
    width: 500px;
  }
}
@media (max-width: 525px) {
  body {
    overflow-x: hidden;
  }
  .modal {
    padding-top: 36px;
  }
  .conteiner-main {
    margin-top: -200px;
    grid-template-columns: 300px;
    width: 100%;
    margin-left: -30px;
    justify-content: center;
  }
  .conteudo01 h1 {
    line-height: 60px;
    font-size: 3.3rem;
    max-width: 10ch;
  }
  .conteudo01 p {
    margin-left: -50px;
    font-size: 1rem;
    max-width: 33ch;
    margin-bottom: 6rem;
  }
  .conteudo02 img {
    width: 390px;
    max-width: max-content;
    margin-top: -100px;
  }
}
